.root {
    background-color: #e85618;
    color: #b6afd3;
  }
  
  .textField {
    background-color: #d6590cdd;
    color: #bbc91a;
  }
  
  .button {
    background-color: #000000;
    color: #ffffff;
  }
  